<%-include('header') %>

  <div class="container">
    <h2>New Product</h2>

    <form action="/user/new" method="post">
      <div class="form-product">
        <label for="name">Nombre del producto:</label>
        <input type="text" id="name" name="name" placeholder="Ej: iPhone 12" required />
      </div>
  
      <div class="form-product">
        <label for="price">Precio (€):</label>
        <input type="number" id="price" name="price" placeholder="Ej: 500" required />
      </div>
  
      <div class="form-product">
        <label for="tags">Categorías (selecciona una o varias):</label>
        <select name="tags" id="tags" multiple size="4" required>
          <option value="work">Work</option>
          <option value="lifestyle">Lifestyle</option>
          <option value="motor">Motor</option>
          <option value="mobile">Mobile</option>
        </select>
      </div>
  
      <div class="form-product">
        <label for="image">Nombre de la imagen:</label>
        <div class="image-input-container">
          <input type="" id="image" name="image" />
          <button type="button" id="generateImageBtn" class="btn btn-secondary">Generar Imagen</button>
        </div>
        <div id="imagePreview" class="image-preview"></div>
      </div>
  
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Publicar Producto</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>

  <%- include('footer') %>